{% load static %}
<footer>
    <div class="container">
        <p align="left">Телефон: +7 (123) 456-78-90</p>
        <p align="left">Email: info@poseidonpark.com</p>
        <div class="social-links">
            <a href="https://instagram.com/"><img src="{% static 'main/images/инста.png' %}" alt=VK" alt="width="30" height="30"></a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="{% static 'main/images/трубка.png' %}" alt="Telegram" alt="width="30" height="30"></a>
            <a href="https://whatsapp.com/"><img src="{% static 'main/images/тг.png' %}" alt="Telegram" alt="width="40" height="40"></a>
        </div>
    </div>
</footer>