{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", type="text/css" href="{% static 'main/css/log_reg.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">

    <title>Вход в систему</title>
</head>
<body style="background-color: rgb(11, 231, 11);">

{% include 'main/header.html' %}

<div class="login-page">
    <div class="form">
        <form class="login-form" action="{% url 'main:login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Войти</button>
        <p class="message">Не зарегистрированы? <a href="{% url 'main:register' %}">Создайте аккаунт</a></p>
        </form>
    </div>
</div>
{% include 'main/footer.html' %}

<style>
.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>

</body>
</html>